body {
  background: #35495d;
  font-family: Menlo, monospace;
  color: #e0e0e0;
}
h3 {
  color: #39ca74;
  text-align: center;
}
.actionBar {
  /*background: red;*/
  bottom: 0;
  left: 0;
  position: absolute;
  width: 9em;
  height: 100%;
}
.sidebar {
  /*background: #181d20;*/
  bottom: 0;
  right: 0;
  width: 13em;
  height: 100%;
  position: absolute;
}
.graph {
  background: #2d3e4f;
  left: 9em;
  width: 52em;
  height: 43em;
  margin: 0;
  padding: 0;
  position: relative;
}
.footer {
  /*background: #181d20;*/
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 3em;
}

.components {
  height: 9em;
  margin: 0.5em;
  /*background-color: white;*/
}
.filters {
  height: 8em;
  margin: 0.5em;
  /*background-color: gray;*/
}
.analysis {
  height: 8em;
  margin: 0.5em;
  /*background-color: pink;*/
}
.save {
  height: 6em;
  margin: 1em;
  /*background-color: gray;*/
}
.button {
  background-color: #2d3e4f;
  margin: 0.2em;
  color: #94a4a5;
  /*color: #e0e0e0;*/
  /*border-radius: 20px;*/
  border-style: none;
  font-size: 16px;
  padding: 8px 10px 8px 12px;
  cursor: pointer;
}
.button:hover {
  background-color: #3a99d8;
  color: #2d3e4f;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
