body {
  background: #272D36;
  font-family: sans-serif;
  color: #8fa1b2;
}
.graph {
  /*background: #272D36;*/
  /*background: white;*/
  width: 1100px;
  height: 700px;
  margin: 0;
  padding: 0;
}
.sidebar {
  /*background: gray;*/
  bottom: 0;
  right: 0;
  width: 11em;
  height: 100%;
  position: absolute;
  /*background-color: #252c33;*/
}
.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2em;
}
.actionBar {
  /*background: gray;*/
  bottom: 0;
  left: 0;
  position: absolute;;
  width: 8em;
  height: 100%;
  /*background-color: #272D36;*/
}
.components {
  height: 6em;
  /*background-color: white;*/
}
.filters {
  height: 15em;
  margin: 2px;
  /*background-color: black;*/
}
.analysis {
  height: 6em;
  /*background-color: pink;*/
}
.save {
  height: 3em;
  /*background-color: black;*/
}
.button {
  background-color: #1a4666;
  margin: 2px;
  color: #8fa1b2;
  border-radius: 20px;
  border-style: none;
  font-family: sans-serif;
  font-size: 16px;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
}
.button:hover {
  background-color: #46AFE3;
  color: #14171a;
}
.addNode {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px;
  border-radius: 50%;
  border-style: none;
}
.addNode .buttonLabel {
  visibility: hidden
}
.addNode:hover .buttonLabel {
  visibility: visible;
  color: #8fa1b2;
  cursor: pointer;
  height: 20px;
  position: relative;
}
.vulnerability {
  background-color: #eb5368;
}
.threat {
  background-color: #eb5368;
}
.constraint {
  background-color: #70bf53;
}
.mechanism {
  background-color: #70bf53;
}
.device {
  background-color: #46afe3;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
