@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background: #3a4b54;
  font-family: Menlo, monospace;
  color: #e0e0e0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 13px;
  /*disable text selection*/
  -webkit-user-select: none;
  -webkit-app-region: drag;
  /* Smoother startup */
  animation: fadein 0.4s;
}
h3 {
  color: #5eacf7;
  text-align: center;
}
.window {
  height: 100vh;
  width: 100vw;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}
.actionBar {
  width: 145px;
  display: block;
}
.graph {
  background: #2e3f49;
  -webkit-flex: 1;
}
.sidebar {
  width: 170px;
  display: block;
}
/*.footer {
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;
  text-align: justify;
  display: block;
}*/
.components {
  margin: 5px;
}
#consoleID {
  background-color: #2e3f49;
  background-color: rgba(11, 10, 12, 0.1);
  margin: 5px;
  /*border: 1px solid;*/
  color: #f5f7fa;
}
.legend {
  bottom: 0;
  height: 50px;
  position: absolute;
  /*background-color: red;*/
}
.button {
  background-color: #5eacf7;
  background-color: rgba(58, 75, 84, 0.1);
  margin: 5px;
  color: #e0e0e0;
  /*border-radius: 20px;*/
  border: 1px solid;
  font-size: 16px;
  padding: 8px 10px 8px 12px;
  cursor: pointer;
}
.button:hover {
  background-color: #5eacf7;
}

/*.button:focus, .selection:focus {
  outline: none;
}*/

.selection {
  width: 130px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  background-color: #5eacf7;
  background-color: rgba(58, 75, 84, 0.1);
  color: #e0e0e0;
}

/*select:required:invalid {
  color: #94a4a5;
}*/

option[value=""][disabled] {
  display: none;
}

/*option {
  color: #94a4a5;
}*/
