/*atom dark color theme*/
:root {
  --main-tx-color: #abb2bf;
  --main-bg-color: #282c34;
  --main-dark-bg-color: #21252b;
  --blue-color: #61afef;
  --black-color: #3b4251;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: var(--main-bg-color);
  font-family: system-ui, 'Helvetica Neue', sans-serif;
  color: var(--main-tx-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  animation: fadein 0.3s; /* Smoother startup */
  user-select: none; /*disable text selection*/
  overflow: hidden;
}

.title-bar {
  position: relative;
  width: 100%;
  height: 22px;
  text-align: center;
  -webkit-app-region: drag;
  border-bottom: 1px solid;
  border-color: var(--main-dark-bg-color);
}

/*sets up the grid view*/
.window {
  position: relative;
  height: 97vh;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-areas: 'action-bar graph sidebar';
  grid-template-columns: 50px 1fr 165px;
}
.action-bar {
  display: none;
  grid-area: action-bar;
  background-color: var(--main-dark-bg-color);
}
.components {
  margin: 5px;
}
.graph {
  background-size: cover;
  grid-area: graph;
}
.sidebar {
  margin-top: 10px;
  font-size: 12px;
  display: none;
  grid-area: sidebar;
  overflow: auto;
  user-select: text;
}
.sidebar-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: scroll;
}
.message-area {
  display: flex;
  flex: 1 1 92vh;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

/*data in message-area is shown as bubbles*/
.bubble {
  position: relative;
  background-color: var(--main-dark-bg-color);
  color: var(--main-tx-color);
  overflow: auto;
  white-space: pre-wrap;
  margin-bottom: 5px;
  padding: 4px;
  padding-top: 16px;
  border-radius: 10px;
  animation: fadein 0.4s;
}

.bubble-btn {
  position: absolute;
  top: 0px;
  right: 0;
  color: var(--main-tx-color);
  border: none;
  border-radius: 10px;
  background-color: var(--black-color);
  outline: none;
}
.bubble-btn:hover {
  background-color: var(--blue-color);
}

.input-form {
  background-color: var(--main-bg-color);
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--main-bg-color);
  width: 145px;
  color: var(--main-tx-color);
}
.input-form:focus {
  border-color: var(--blue-color);
  outline: none;
}
.submit-form {
  background-color: var(--main-bg-color);
  margin-top: 3px;
  color: var(--main-tx-color);
  border: 1px solid;
  border-radius: 10px;
  border-color: var(--main-bg-color);
}
.submit-form:focus {
  outline: none;
}

/*command console*/
.cmd-wrapper {
  width: 90%;
  height: 22px;
  margin: 4px;
  display: flex;
  flex: 1 1 22px;
  bottom: 0;
  position: fixed;
  background-color: var(--main-bg-color);
}
#cmd-id {
  height: 20px;
  background-color: var(--main-bg-color);
  border: none;
  color: var(--main-tx-color);
  font-size: 12px;
  font-family: monaco, consolas, mono;
}
#cmd-id:focus {
  outline: none;
}
#input-label-id {
  top: 3px;
  padding-right: 2px;
  position: relative;
  font-size: 14px;
}
input::-webkit-input-placeholder {
  opacity: 0.5;
}

/*shows node information on hover*/
.container-node {
  position: absolute;
  opacity: 0.8;
  border-radius: 10px;
  background-color: var(--main-dark-bg-color);
  display: none;
  margin: 10px;
  overflow: auto;
  z-index: 2;
}
.container-node-info {
  margin: 5px;
  color: var(--main-tx-color);
  font-size: 12px;
  white-space: pre-wrap;
}

/*displays node number*/
.legend {
  bottom: 0;
  left: 50px;
  margin: 5px;
  position: absolute;
  white-space: pre-wrap;
  font-size: 12px;
  overflow: auto;
}

/*action bar icons*/
.icon {
  fill: var(--main-tx-color);
}
.icon:hover {
  fill: var(--blue-color);
}
.btn-icon {
  background-color: var(--main-dark-bg-color);
  margin: 2px;
  color: var(--main-tx-color);
  border: 1px solid;
  border-color: var(--main-dark-bg-color);
}
/*flash color when clicked*/
.btn-icon:active,
.icon:active {
  fill: var(--main-tx-color);
}
.btn-icon:focus {
  fill: var(--blue-color);
  outline: none;
}

/*used by expose.js to display all node information*/
.active-button {
  background-color: var(--blue-color);
  margin: 2px;
  color: var(--main-tx-color);
  border: 1px solid;
  border-color: var(--main-dark-bg-color);
  border-radius: 10px;
  outline: none;
}

/*toggle theme button*/
.tgl-wrapper {
  position: fixed;
  bottom: 10px;
}
.tgl-lbl {
  position: relative;
  display: block;
  height: 10px;
  width: 38px;
  background: var(--black-color);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.tgl-lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: var(--main-tx-color);
  content: '';
  transition: all 0.3s ease;
}
.tgl-lbl:active:after {
  transform: scale(1.15, 0.85);
}
.tgl:checked ~ label {
  background: var(--main-tx-color);
}
.tgl:checked ~ label:after {
  left: 22px;
  background: var(--black-color);
}
.tgl {
  display: none;
}

/*dropdown buttons*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;
  list-style: none;
  padding: 0;
  border-radius: 10px;
  overflow: auto;
  z-index: 10;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown a {
  display: block;
  padding: 0.2em 0.8em;
  text-decoration: none;
  background-color: var(--main-dark-bg-color);
  border-bottom: 1px solid;
  border-color: var(--main-bg-color);
  color: var(--main-tx-color);
  font-size: 12px;
}
.dropdown a:hover {
  background-color: var(--blue-color);
  color: var(--main-dark-bg-color);
}
.dropdown a:active {
  background-color: var(--main-tx-color);
}

/*load menu*/
.wrapper {
  position: absolute;
  width: 150px;
  border-radius: 10px;
  color: var(--blue-color);
  background-color: var(--main-bg-color);
  margin: auto;
  margin-top: 12em;
  z-index: 2;
  right: 50%;
  text-align: center;
  box-shadow: 3px 2px 11px 7px rgba(20, 29, 38, 0.7);
}
.menu-btn {
  background-color: var(--main-dark-bg-color);
  margin: 5px;
  color: var(--main-tx-color);
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--main-dark-bg-color);
  font-size: 14px;
}
.menu-btn:hover {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
.menu-btn:focus {
  outline: none;
}

/* scroll bar styling */
::-webkit-scrollbar {
  width: 7px;
  height: 2px;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(171, 178, 191, 0.3);
}

@media (max-width: 1200px) {
  .graph {
    width: calc(97vw - 190px);
  }
}
