---
---
$header-heading-color: #74b1be;
$header-bg-color: #2b2e3b;
$header-bg-color-secondary: #2b2e3b;

$section-headings-color: #3399cd;

$body-text-color: #383a42;
$code-text-color: #383a42;
$code-bg-color: #eaeaeb;
@import "{{ site.theme }}";
body {
  background-color: #f5f5f5;
}
.main-content {
  background-color: #f5f5f5;
}
