---
---
$header-heading-color: #74b1be;
$header-bg-color: #2b2e3b;
$header-bg-color-secondary: #2b2e3b;

$section-headings-color: #21515a;

@import "{{ site.theme }}";
.main-content {
  background-color: ##f6f8f8;
}
