---
---
$header-heading-color: #74b1be;
$header-bg-color: #2b2e3b;
$header-bg-color-secondary: #2b2e3b;

$section-headings-color: #74b1be;

$body-text-color: #383a42;
$body-link-color: #2b2e3b;
$code-text-color: #383a42;
$code-bg-color: #eaeaeb;
@import "{{ site.theme }}";
body {
  background-color: #f5f5f5;
  font-family: 'Ubuntu', sans-serif;
}
.main-content {
  background-color: #f5f5f5;
}
// .btn:visited {
//   color: rgba(255,255,255,0.8);
//   text-decoration: none;
//   background-color: rgba(255,255,255,0.2);
//   border-color: rgba(255,255,255,0.3);
// }
